body {
    margin: 0px;
    padding: 0px;
    background: #326bb1;
    position: relative;
    height: 100vh;
}

.nav-link {
    margin-right: 1em !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar {
    background: #4892ec;
}

.nav-link, .navbar-brand {
    color: #fff !important;
}

.nav-link:hover {
    color: #000 !important;
}

.disabled {
    color: #666 !important;
}

.body-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.body-text h1 {
    color: greenyellow;
}

.body-text p {
    color: white;
}

