.clock-container {
    position: relative;
    margin: 20px;
    flex-shrink: 0;
}

.clock-container canvas {
    position: absolute;
    left: 0px;
    top: 0px;
}

.set-alarm-entry {
    border: 1px solid black;
    border-radius: 5px;
    background: #ededed;
    width: fit-content;
    height: fit-content;
    margin: 10px;
}

.set-alarm-entry input {
    margin: 5px;
}

.set-alarm-entry .options {
    display: flex;
    flex-direction: column;
}

.set-alarm-entry .options span{
    padding: 5px;
    background: #898989;
    margin: 5px;
    border-radius: 5px;
}

.set-alarm-entry .options span:hover {
    transition: 500ms;
    background: #ababab;
}