#portfolio-content-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#portfolio-content-list a {
    padding: 5px;
    margin: 10px;
    background: var(--theme-primary);
    border-left: 5px solid var(--theme-secondary);
    color: var(--theme-text);
}

#portfolio-content-list a:hover {
    text-decoration: none;
    transition: 500ms;
    box-shadow: 10px 5px 5px var(--theme-text);
}